#rpic
{
   width: 100%;
   margin-top: 7%;
   /* margin-left: 15%; */
   margin-right: 15%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 40px; 
    margin-left: 7%;
}

.pic
{
    /* background-color: rgb(117, 78, 78);
    border-color:rgb(61, 45, 29); */
    width: 30%;
    height: 70%;
}

#addr
{
    background-color:rgb(100, 95, 93);
    width: 50%;
    height: 20%;
    border: 0ch;
    margin-top: 2%;
}
#namecake
{
    color: rgb(92, 69, 69);
    font-family:sans-serif ;
    
}
#picc{
    width: 70%;
    height: 60;
}
.body{
    background-color: bisque;
}
